a.navbar-brand { display: flex; align-content: center; white-space: normal; text-align: center; word-break: break-all; color: #fff!important; }
a.navbar-brand #mast-logo { width: 32px; margin-right: 10px; }

a.nav-link { color: #fff !important; }

a { color: #228096; }

.btn-primary { color: #fff; background-color: #228096; border-color: #228096; }

.navbar { background: #228096; color: #fff; }
.nav-pills .nav-link.active, .nav-pills .show > .nav-link { color: #fff; background-color: #228096; border-color: #228096; }

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

button.accept-policy { font-size: 1rem; line-height: inherit; }

.footer { position: absolute; bottom: 0; width: 100%; white-space: nowrap; line-height: 60px; }
